a.linkbutton:hover{
				background-color: #F30808;
	            text-decoration: none;
	            color: aliceblue;			
}

a.linkbutton{
	padding: 10px;	
}
body .modal-open{
	width: 1560px;
    margin-left: -280px;
}

.art_txt{
		font-size: 1.2rem;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
}
.headerimag{
	width: 100%;
	height: 80px;
	background: url(/site/img/banner.jpg);
	background-size: cover;
}

.page_footer{
	background-color: antiquewhite;
	height:80px;
}

.user_com{
	padding: 30;
	margin: 100;
}

.user_com{
	  border:outset green;
	  margin: 100;
}

.user_com:hover{
	  border: outset red;
}

.txt_com{
	border:outset blue;
	padding: 20;
}

.point:hover{
	cursor:pointer;
}

.btn_mod:hover{
	background: rgba(0,0,200,1.00);
	color:aliceblue;
}

.alink{text-decoration: none;}

div.star1:hover{
	border: red;
}

.page_left{
	color:aliceblue;
}
.page_right{
	color:aliceblue;
}

body{
	background-image: url("img/AquaFresh.jpg");
	background-size: cover;
	background-repeat: no-repeat
}