.sections{
display:none;
}

.commbox{
    margin:10px;
    border:none;
	padding: 15px;
	width:90%;
	height:180px
}

.commhead{
	background-color:rgba(196,196,196,0.53);
	padding: 10px;
	margin:5px;
	border-radius: 15px;
}

.commpanel{
	border: 1px ridge rgba(21,72,176,0.56);
	border-radius: 15px;
	width: 50%;
    margin: 13px;	
}

#newarticle{
	position: fixed;
	bottom: 0px;
    left:10%;
	width:70%;
	z-index: 200;
}

#newarticletxt{
	background: #FFF;
	padding: 10px;
	border: 2px ridge rgba(15,90,241,0.55);
	border-radius: 10px;
	margin:20px;
	margin-color:red; 
	height:200px;	
}

#newcomm{
	position: sticky; 
	top: 0px;  
	width: 100%;
	height: 20px;
	font-size: 14px;
}

.panel{
    margin: 13px;	
    border: 1px ridge rgba(21,72,176,0.56);
	border-radius: 10px;
	width: 75%;
}

.panel-newcomm{
	margin: 13px;	
    border: 1px ridge rgba(21,72,176,0.56);
	border-radius: 10px;
	width: 75%;
}

.panel-head{
	background-color:rgba(196,196,196,0.53);
	padding: 10px;
}

.panel-body{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: left;
}

a.linkbutton:hover{
				background-color: #F30808;
	            text-decoration: none;
	            color: aliceblue;			
}

a.linkbutton{
	padding: 10px;	
}

body .modal-open{
	width: 1560px;
    margin-left: -280px;
}

.art_txt{
		font-size: 1.2rem;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.headerimag{
	width: 100%;
	height: 80px;
	background: url(/site/img/banner.jpg);
	background-size: cover;
}

.page_footer{
	background-color: antiquewhite;
	height:80px;
}

.user_com{
	padding: 30;
	margin: 100;
}

.user_com{
	  border:outset green;
	  margin: 100;
}

.user_com:hover{
	  border: outset red;
}

.txt_com{
	border:outset blue;
	padding: 20;
}

.point:hover{
	cursor:pointer;
}

.btn_mod:hover{
	background: rgba(0,0,200,1.00);
	color:aliceblue;
}

.alink{
text-decoration: none;
color:#ff3e9f;
}

div.star1:hover{
	border: red;
}

.page_left{
	color:aliceblue;
}

.page_right{
	color:aliceblue;
}

body{
	background-image: url("img/AquaFresh.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}